ui/cli/database/src/xml/DatabaseDefinition.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--                                                                                  -->
<!-- Copyright 2002-2026 Echo Three, LLC                                              -->
<!--                                                                                  -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");                  -->
<!-- you may not use this file except in compliance with the License.                 -->
<!-- You may obtain a copy of the License at                                          -->
<!--                                                                                  -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                                   -->
<!--                                                                                  -->
<!-- Unless required by applicable law or agreed to in writing, software              -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,                -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.         -->
<!-- See the License for the specific language governing permissions and              -->
<!-- limitations under the License.                                                   -->
<!--                                                                                  -->
<!ELEMENT column EMPTY>
<!ATTLIST column
    name CDATA #REQUIRED
    type CDATA #REQUIRED
    maxLength CDATA #IMPLIED
    nullAllowed (false | true) #IMPLIED
    description CDATA #IMPLIED
    onParentDelete CDATA #IMPLIED
    destinationTable CDATA #IMPLIED
    destinationColumn CDATA #IMPLIED>
<!ELEMENT indexColumn EMPTY>
<!ATTLIST indexColumn
    name CDATA #REQUIRED>
<!ELEMENT columnType EMPTY>
<!ATTLIST columnType
    type CDATA #REQUIRED
    realType (Boolean | String | Date | Integer | Long | Time ) #REQUIRED
    maxLength CDATA #IMPLIED
    onParentDelete CDATA #IMPLIED
    destinationTable CDATA #IMPLIED
    destinationColumn CDATA #IMPLIED>
<!ELEMENT columnTypes (columnType+)>
<!ELEMENT file EMPTY>
<!ATTLIST file
    name CDATA #REQUIRED>
<!ELEMENT files (file+)>
<!ELEMENT columns (column+)>
<!ELEMENT database (columnTypes?, files?, components?)>
<!ATTLIST database
    name CDATA #REQUIRED>
<!ELEMENT fetchColumn EMPTY>
<!ATTLIST fetchColumn
    name CDATA #REQUIRED>
<!ELEMENT index (indexColumn+)>
<!ATTLIST index
    type (Multiple | PrimaryKey | Unique) #REQUIRED
    name CDATA #IMPLIED>
<!ELEMENT indexes (index*)>
<!ELEMENT reference EMPTY>
<!ATTLIST reference
    sourceColumn CDATA #REQUIRED>
<!ELEMENT table (columns?, indexes?)>
<!ATTLIST table
    namePlural CDATA #REQUIRED
    nameSingular CDATA #REQUIRED
    columnPrefix CDATA #REQUIRED
    chunkSize CDATA #IMPLIED
    description CDATA #IMPLIED>
<!ELEMENT tables (table*)>
<!ELEMENT component (tables?)>
<!ATTLIST component
    name CDATA #REQUIRED>
<!ELEMENT components (component*)>
